/* untuk menyiman inisialisasi warna */

:root {
  --primary: #ee6d31;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Edu VIC WA NT Beginner", Poppins;
  background-color: var(--bg);
  color: white;
}
/* navbar */
.navbar {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-between; /*sejajar secara horizontal */
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid rgb(47, 19, 2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-style: italic;
  font-family: Edu VIC WA NT Beginner;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/* sudu element */
.navbar .navbar-nav a::after {
  content: " ";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transition: 0.2s linear;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: rgb(247, 104, 32);
  margin: 0 0.5 rem;
}

.navbar .navbar-extra a:hover {
  color: whitesmoke;
}

/* pakai id karena butuh js */
#pizza-menu {
  display: none;
}

/* hero section */
.hero {
  min-height: 100vh;
  background-image: url("../image/header-bg.jpg");
  align-items: center; /*tulisannya ketengah secara vertikal */
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  color: rgb(255, 0, 0);
  font-size: 4em;
  text-shadow: 1px 1px 3px rgba(9, 9, 9, 0.5);
  line-height: 1.2;
  font-family: "Pacifico";
}
.hero .content h1 span {
  color: rgb(255, 162, 0);
}

.hero .content p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(197, 176, 176, 0.5);
  mix-blend-mode: difference;
}

.hero .content .btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  display: inline-block;
  font-size: 1.2em;
  color: black;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about,
.contact {
  padding: 5.7rem 4% 5rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 5rem;
  font-family: "Edu VIC WA NT Beginner";
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .content {
  flex: 10 10 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary);
  text-align: center;
}

.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  line-height: 1.6;
  font-family: "Poppins";
  color: white;
}

/* Menu section */
.menu {
  padding: 5rem 4% 5rem;
}
.menu h2,
.contact h2 {
  font-size: 2.6rem;
  font-family: "Edu VIC WA NT Beginner";
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 35rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}
.menu .row .menu-card {
  text-align: center;
  padding-bottom: 1rem;
  flex: 1 1 30%; /* Setiap item mengambil 30% dari lebar container */
  max-width: 30%; /* Batas maksimal lebar tiap item */
  margin: 10px;
  box-sizing: border-box; /* Memastikan padding dan border tidak mempengaruhi lebar */
  text-align: center;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
  box-shadow: 1px 1px 1px rgb(219, 216, 216);
  padding: 1px;
}
.menu .row .menu-card .menu-card-tittle {
  margin: 1rem auto 0.5rem;
  color: rgb(255, 119, 0);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  line-height: 1.6;
  font-family: "Poppins";
}

/* Contact Section */
.contact p {
  text-align: center;
  max-width: 80rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Poppins";
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  color: white;
  background-color: var(--primary);
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: rgb(245, 125, 40);
  text-align: center;
  padding: 1rem 0 0.5rem;
  margin-top: 3rem;
  font-size: 1.2rem;
}

footer .social {
  padding: 0.5rem 0;
}

footer .social a {
  color: white;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 0.8rem;
}

footer .links a {
  color: white;
  margin: 0.7rem 1rem;
}

footer .credit {
  padding: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media queris */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #pizza-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(213, 209, 209);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block; /* membuat elemen turun kebawah */
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap; /* agar tulisan pindah kebawah saat ukuran tablet */
  }

  .about .row .about-img image {
    object-fit: cover;
    object-position: center;
    height: 24rem;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
  /* mobile handphone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }

  .menu .row .menu-card img {
    height: 60%;
  }

  .menu .row .menu-card .menu-card-tittle {
    font-size: 12px;
  }
}
